/* ----------------------------------------
	プロジェクトホーム
---------------------------------------- */
/* 日別一覧表示 */
.tasklist {
	&__date-block {
		table {
			border-bottom: 1px dotted #ddd;
			thead {
				display: none;
			}
			td {
				width: 10%;
			}
			td:nth-of-type(3) {
				width: 15%;
			}
			td:nth-of-type(4) {
				width: 55%;
			}
			img {
				width: 26px;
				height: auto;
				margin-right: 5px;
			}
		}
	}
	&__header {
		margin-bottom: 0;
		padding: 10px;
		background-color: $base-highlight-color;
		font-size: 16px;
	}
	&__title {
		display: block;
	}
	&__status {
		color: $light-font-color;
	}
	&__date {
		> span {
			color: $light-font-color;
		}
	}
}

/* カテゴリー */
.category {
	.graph {
		margin-top: 10px;
		&:first-child {
			margin-top: 0;
		}
	}
}

.popup {
	th {
		padding-right: 10px;
	}
}

/* 仮位置用削除 */
.popup {
	display: block;
	position: absolute;
	top: 290px;
	left: 700px;
}
