/* ----------------------------------------
	課題の編集
---------------------------------------- */
// 戻るボタン
.back {
	margin-bottom: 20px;
	padding-bottom: 1px;
	border-bottom: 1px solid $base-border-color;
}
