/* ----------------------------------------
	課題の追加(完了)
---------------------------------------- */
.completion {
	padding: 30px;
	margin-bottom: 20px;
	border: 1px solid $base-border-color;
	background-color: $base-bg-color;
	font-size: $large-font-size;
	font-weight: bold;
	text-align: center;
}

.btn-group-horizontal {
	text-align: center;
}
