/* ----------------------------------------
	課題の表示
---------------------------------------- */
/* 確認メッセージ */
.leadmsg {
	font-size: $large-font-size;
	font-weight: bold;
}

/* 入力フォーム */
.input {

	.btn-group-horizontal {
		&:nth-of-type(1) {
			margin-bottom: 20px;
		}
	}
}
