@charset "UTF-8";
/**
 * フォームアイテムのラベルをたて揃えする
 * @param  {string} $width 幅
 */
/**
 * 横長のボタンを作成
 * @param  {number} $width テキスト横のスペース幅
 */
/* ----------------------------------------
	フォーム
---------------------------------------- */
/* インプット要素の幅を拡げる */
.input-group-long {
  width: 240px;
}

/* ----------------------------------------
	ドロップダウン
---------------------------------------- */
/* ドロップダウンの幅を拡げる */
.dropdown-menu-long {
  width: 240px;
}

/* ----------------------------------------
	ボタン
---------------------------------------- */
/* 追加読み込みボタン */
.seeall {
  padding: 10px;
  background-color: #eee;
}
.seeall:hover {
  background-color: #e1e1e1;
}

/* ----------------------------------------
	リスト
---------------------------------------- */
/* リストアイテムをパネル幅いっぱいに拡げる */
.panel-body-list > ul > li > a {
  display: block;
  width: 100%;
  padding: 5px 10px;
}
.panel-body-list > ul > li > a:hover {
  background-color: #eee;
}

/* インラインのリストアイテムに区切り棒を挿入する */
.list-delimiter > li {
  border-left: 1px solid #aaa;
}
.list-delimiter > li:first-child {
  border-left: none;
}

.list-breadcrumb > li + li {
  padding-left: 0;
}
.list-breadcrumb > li + li::before {
  content: ">";
  padding-right: 5px;
}

/* リストアイテムにホバー時に表示するコンテンツを追加する */
.list-hover-disp > li {
  overflow: hidden;
  height: 30px;
  transition: height .3s ease .3s;
}
.list-hover-disp > li:hover {
  height: 50px;
}
.list-hover-disp > li > ul {
  margin-left: 30px;
}

/* ----------------------------------------
	テーブル
---------------------------------------- */
.table-border-dotted > tbody > tr td {
  border-top-style: dotted;
}

/* ----------------------------------------
	グラフ
---------------------------------------- */
.graph__header {
  margin-bottom: 10px;
  padding: 5px;
  background-color: #eee;
  font-size: 12px;
}
.graph__counter {
  padding: 5px 0;
}

/* ----------------------------------------
	ポップアップ
---------------------------------------- */
.popup {
  width: 120px;
  padding: 10px;
  border: 2px solid #aaa;
  background-color: #fff;
  z-index: 999;
}
.popup a {
  width: 100%;
  line-height: 1.8;
}

/* ----------------------------------------
	リセット
---------------------------------------- */
h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0;
  padding: 0;
}

input,
textarea {
  padding: 3px;
  border-width: 1px;
  border-style: solid;
  border-color: #aaa;
}

/* ----------------------------------------
	レイアウト
---------------------------------------- */
body {
  margin-top: 60px;
  font-size: 12px;
}

/* ----------------------------------------
	グローバルナビ
---------------------------------------- */
.global-nav .dropdown-menu {
  padding: 5px;
  background-color: #333;
}
.global-nav .dropdown-menu-list {
  padding: 5px;
  background-color: #333;
}
.global-nav .dropdown-menu-list > li > a {
  display: block;
  width: 100%;
  padding: 5px;
  color: #fff;
}
.global-nav .dropdown-menu-list > li > a:hover {
  background-color: #eee;
  color: #3c3c3c;
}

/* ----------------------------------------
	グローバルヘッダー
---------------------------------------- */
.global-header {
  margin-bottom: 0;
  border-bottom-width: 5px;
  font-size: 12px;
}
.global-header__banner {
  display: inline-block;
}
.global-header__title {
  display: inline-block;
  margin-left: 10px;
  font-size: 24px;
  font-weight: bold;
  vertical-align: middle;
}
.global-header__personal {
  margin-bottom: 10px;
}
.global-header__personal img {
  max-width: 32px;
  height: auto;
}

/* ----------------------------------------
	追加ヘッダー
---------------------------------------- */
.attach-header {
  position: fixed;
  top: 51px;
  width: 100%;
  padding-top: 5px;
  padding-bottom: 5px;
  border-bottom: 1px solid #aaa;
  background-color: #eee;
  z-index: 999;
}
.attach-header .global-breadcrumb ul {
  margin-bottom: 0;
}
.attach-header .global-breadcrumb li {
  position: relative;
}
.attach-header .global-breadcrumb img {
  width: 20px;
  height: auto;
  margin-right: 3px;
}
.attach-header .popup {
  position: absolute;
  top: 25px;
  left: 0;
}
.attach-header .task-nav ul {
  margin-bottom: 0;
}

/* ----------------------------------------
	プロジェクトナビ
---------------------------------------- */
.project-nav .navbar-nav:first-child > li {
  min-width: 100px;
  text-align: center;
}
.project-nav .navbar-nav:first-child > li > a:hover {
  background-color: #eee;
}

/* ----------------------------------------
	メイン
---------------------------------------- */
/* メインラッパー */
main {
  margin-top: 20px;
}
main .main-header {
  margin-bottom: 1em;
  padding-bottom: .5em;
  border-bottom: 1px dashed #aaa;
  font-size: 20px;
}

/* メインコンテンツ */
/* サブコンテンツ */
/* ----------------------------------------
	グローバルフッター
---------------------------------------- */
.global-footer {
  margin-top: 80px;
}
.global-footer .global-footer__pagetop {
  position: relative;
  display: inline-block;
  padding: 10px 30px;
  border: 1px solid #aaa;
  border-bottom: none;
  border-radius: 8px 8px 0 0;
  background: #fff;
  z-index: 1;
}
.global-footer__copyright {
  position: relative;
  top: -1px;
  padding: 10px;
  border-top: 1px solid #aaa;
}

/* ----------------------------------------
	メッセージエリア
---------------------------------------- */
.message {
  font-size: 14px;
  font-weight: bold;
  text-align: center;
}

/* ----------------------------------------
	ページ固有スタイル
---------------------------------------- */
/* ダッシュボード */
.dashboard {
  /* ----------------------------------------
  	ダッシュボード
  ---------------------------------------- */
  /**/
  /* 最新の課題 */
}
.dashboard .mytask .panel-heading {
  margin-bottom: 10px;
}
.dashboard .mytask .nav-tabs > li {
  margin-left: 5px;
  margin-right: 5px;
}
.dashboard .mytask table th:nth-of-type(1),
.dashboard .mytask table th:nth-of-type(5) {
  width: 15%;
}
.dashboard .mytask table th:nth-of-type(2) {
  width: 55%;
}
.dashboard .recent-update__item {
  padding: 10px 0;
  border-top: 1px dotted #aaa;
}
.dashboard .recent-update__item:first-child {
  padding-top: 0;
  border-top: none;
}
.dashboard .recent-update__item img {
  max-width: 48px;
  height: auto;
}

/* プロジェクトホーム */
.projects {
  /* ----------------------------------------
  	プロジェクトホーム
  ---------------------------------------- */
  /* 日別一覧表示 */
  /* カテゴリー */
}
.projects .tasklist__date-block table {
  border-bottom: 1px dotted #ddd;
}
.projects .tasklist__date-block table thead {
  display: none;
}
.projects .tasklist__date-block table td {
  width: 10%;
}
.projects .tasklist__date-block table td:nth-of-type(3) {
  width: 15%;
}
.projects .tasklist__date-block table td:nth-of-type(4) {
  width: 55%;
}
.projects .tasklist__date-block table img {
  width: 26px;
  height: auto;
  margin-right: 5px;
}
.projects .tasklist__header {
  margin-bottom: 0;
  padding: 10px;
  background-color: #eee !important;
  font-size: 16px;
}
.projects .tasklist__title {
  display: block;
}
.projects .tasklist__status {
  color: #888;
}
.projects .tasklist__date > span {
  color: #888;
}
.projects .category .graph {
  margin-top: 10px;
}
.projects .category .graph:first-child {
  margin-top: 0;
}

/* 課題の表示 */
.task {
  /* ----------------------------------------
  	課題の表示
  ---------------------------------------- */
  /* 課題 */
  /* コメント */
  /* コメントの編集 */
  /* 状態の更新 */
}
.task .task-card > * + * {
  margin-top: 15px;
  padding: 15px 10px 0;
  border-top: 1px solid #aaa;
}
.task .task-card__title {
  margin-top: 15px;
  padding: 15px 10px 0;
  border-top: 1px solid #aaa;
  font-size: 20px;
}
.task .task-card__attributes table {
  width: 100%;
}
.task .task-card__attributes table th, .task .task-card__attributes table td {
  width: 20%;
  padding: 10px 0;
}
.task .task-card__attributes table th {
  width: 10%;
}
.task .task-card__attributes table tr + tr th, .task .task-card__attributes table tr + tr td {
  border-top: 1px dotted #aaa;
}
.task .task-card__detail-header > * {
  display: inline-block;
}
.task .task-card__detail-title {
  margin-right: 10px;
  font-size: 16px;
  vertical-align: top;
}
.task .task-card__detail-user img {
  max-width: 32px;
  height: auto;
  margin-right: 5px;
}
.task .task-card__detail-body {
  margin-top: 10px;
  margin-left: 42px;
}
.task .task-card__attach-title {
  font-size: 16px;
}
.task .task-card__attach-body {
  margin-top: 10px;
  margin-left: 42px;
}
.task .comment {
  margin-bottom: 20px;
  padding-bottom: 20px;
  border-bottom: 1px dotted #aaa;
}
.task .comment__header {
  padding: 10px;
  background-color: #eee;
}
.task .comment__title {
  font-size: 16px;
}
.task .comment__disp {
  margin-bottom: 0;
}
.task .comment__control {
  margin: 10px 0;
  text-align: right;
}
.task .comment__item--minimum {
  position: relative;
  margin-top: 20px;
  border-top: 1px solid #d4d4d4;
  background-color: #eee;
  text-align: center;
}
.task .comment__item--minimum > * {
  display: block;
  border-top: 1px solid #d4d4d4;
  background-color: #eee;
}
.task .comment__item--minimum::before, .task .comment__item--minimum::after {
  content: "";
  position: absolute;
  left: 0;
  width: 100%;
  height: 10px;
  border-top: 1px solid #d4d4d4;
  background-color: #eee;
}
.task .comment__item--minimum::before {
  top: -10px;
  z-index: -1;
}
.task .comment__item--minimum::after {
  top: -5px;
  z-index: 1;
}
.task .comment__item--minimum-count {
  position: relative;
  padding: 5px 0;
  z-index: 2;
}
.task .comment__item-header {
  padding: 10px;
  border-top: 2px solid #d4d4d4;
  background-color: #eee;
}
.task .comment__item-header > * {
  display: inline-block;
}
.task .comment__item-header > *:nth-child(1) {
  width: 69%;
}
.task .comment__item-header > *:nth-child(1) > * {
  display: inline;
}
.task .comment__item-header > *:nth-child(2) {
  width: 30%;
}
.task .comment__item-header--overview {
  overflow: hidden;
  width: 100%;
  white-space: nowrap;
  text-overflow: ellipsis;
}
.task .comment__item-header--overview > * {
  display: inline;
  width: auto;
}
.task .comment__item-title {
  font-size: 16px;
}
.task .comment__item-user img {
  max-width: 24px;
  height: auto;
}
.task .comment__item-control {
  margin-bottom: 0;
  text-align: right;
}
.task .comment__item-control > li {
  position: relative;
  text-align: left;
}
.task .comment__item-control > li .popup {
  position: absolute;
  top: 25px;
  left: 0;
}
.task .comment__item-body {
  margin: 15px 30px 30px;
}
.task .comment__item-comment label {
  display: block;
}
.task .comment__item-comment input[type=text],
.task .comment__item-comment textarea {
  width: 100%;
}
.task .comment__item-register {
  margin-top: 10px;
  text-align: center;
}
.task .comment__item-register > * {
  margin: 0 5px;
}
.task .comment__item-register > input {
  width: 180px;
}
.task .input__title {
  display: none;
}
.task .input__tab {
  border-bottom-width: 5px;
}
.task .input__tab > li {
  margin-bottom: -5px;
}
.task .input__edit {
  padding: 10px 25px 25px;
  border: 2px solid #ddd;
  border-top: none;
}
.task .input__status {
  margin: -10px -25px 0;
  padding: 10px 25px 25px;
  background-color: #eee;
}
.task .input__status-switch {
  text-align: right;
}
.task .input__status-body {
  margin-top: 10px;
}
.task .input__status-left {
  float: left;
  width: 50%;
  margin-bottom: 10px;
}
.task .input__status-left > label {
  display: block;
}
.task .input__status-right {
  float: right;
  width: 50%;
  margin-bottom: 10px;
}
.task .input__status-bottom {
  clear: both;
}
.task .input__comment {
  padding-top: 20px;
}
.task .input__comment label {
  display: block;
}
.task .input__comment input[type=text],
.task .input__comment textarea {
  width: 100%;
}
.task .input__register {
  margin-top: 20px;
  text-align: center;
}
.task .input__register > input {
  width: 180px;
}
.task .update-status__status-body div:first-child > label {
  display: block;
}
.task .update-status__status-body > table {
  width: 100%;
  margin-top: 10px;
}
.task .update-status__status-body > table td:first-child {
  width: 40%;
}
.task .update-status__status-body > table select {
  width: 100%;
}
.task .update-status__status-body > table + div > label {
  width: 40%;
}
.task .update-status__status-body > table + div > input {
  width: 60%;
}
.task .update-status__status-current {
  margin-bottom: 10px;
  padding: 5px;
  font-weight: bold;
  text-align: center;
}
.task .update-status__comment {
  margin-top: 10px;
}
.task .update-status__comment label {
  display: block;
}
.task .update-status__comment input[type=text],
.task .update-status__comment textarea {
  width: 100%;
}
.task .update-status__register {
  text-align: center;
}
.task .update-status__register > input {
  width: 180px;
}

/* 課題の追加 */
.taskadd {
  /* ----------------------------------------
  	課題の表示
  ---------------------------------------- */
  /* 入力フォーム */
}
.taskadd .input__register {
  text-align: right;
}
.taskadd .input__register > input {
  width: 180px;
}
.taskadd .input__register:nth-of-type(1) {
  margin-bottom: 20px;
}
.taskadd .input .task-card > table > tbody > tr:first-child th,
.taskadd .input .task-card > table > tbody > tr:first-child td {
  border-top: none;
}
.taskadd .input .task-card > table input,
.taskadd .input .task-card > table textarea {
  width: 100%;
}
.taskadd .input__attributes th {
  width: 10%;
}
.taskadd .input__attributes td {
  background-color: #fff;
}
.taskadd .input__attributes select {
  width: 200px;
}

/*# sourceMappingURL=style.css.map */
