@charset "UTF-8";
/* ----------------------------------------
	フォーム
---------------------------------------- */
/* インプット要素の幅を拡げる */
.input-group-long {
  width: 240px; }

/* ----------------------------------------
	ドロップダウン
---------------------------------------- */
/* ドロップダウンの幅を拡げる */
.dropdown-menu-long {
  width: 240px; }

/* ----------------------------------------
	ボタン
---------------------------------------- */
/* 追加読み込みボタン */
.seeall {
  padding: 10px;
  background-color: #eee; }
  .seeall:hover {
    background-color: #e1e1e1; }

/* ----------------------------------------
	リスト
---------------------------------------- */
/* リストアイテムをパネル幅いっぱいに拡げる */
.panel-body-list > ul > li > a {
  display: block;
  width: 100%;
  padding: 5px 10px; }
  .panel-body-list > ul > li > a:hover {
    background-color: #eee; }

/* インラインのリストアイテムに区切り棒を挿入する */
.list-delimiter > li {
  border-left: 1px solid #aaa; }
  .list-delimiter > li:first-child {
    border-left: none; }

/* リストアイテムにホバー時に表示するコンテンツを追加する */
.list-hover-disp > li {
  overflow: hidden;
  height: 30px;
  transition: height .3s ease .3s; }
  .list-hover-disp > li:hover {
    height: 50px; }
  .list-hover-disp > li > ul {
    margin-left: 30px; }

/* ----------------------------------------
	テーブル
---------------------------------------- */
.table-border-dotted > tbody > tr td {
  border-top-style: dotted; }

/* ----------------------------------------
	レイアウト
---------------------------------------- */
body {
  margin-top: 60px; }

/* ----------------------------------------
	グローバルナビ
---------------------------------------- */
.global-nav .dropdown-menu {
  padding: 5px;
  background-color: #333; }
.global-nav .dropdown-menu-list {
  padding: 5px;
  background-color: #333; }
  .global-nav .dropdown-menu-list > li > a {
    display: block;
    width: 100%;
    padding: 5px;
    color: #fff; }
    .global-nav .dropdown-menu-list > li > a:hover {
      background-color: #eee;
      color: #3c3c3c; }

/* ----------------------------------------
	グローバルヘッダー
---------------------------------------- */
.global-header {
  border-bottom-width: 5px;
  font-size: 12px; }
  .global-header__title {
    margin-left: 70px;
    font-size: 24px;
    font-weight: bold; }
  .global-header__personal {
    margin-bottom: 10px; }
    .global-header__personal img {
      max-width: 32px;
      height: auto; }

/* ----------------------------------------
	グローバルフッター
---------------------------------------- */
.global-footer {
  margin-top: 80px; }
  .global-footer .global-footer__pagetop {
    position: relative;
    display: inline-block;
    padding: 10px 30px;
    border: 1px solid #aaa;
    border-bottom: none;
    border-radius: 8px 8px 0 0;
    background: #fff;
    z-index: 1; }
  .global-footer__copyright {
    position: relative;
    top: -1px;
    padding: 10px;
    border-top: 1px solid #aaa; }

/* ----------------------------------------
	ページ固有スタイル
---------------------------------------- */
.dashboard {
  /* ----------------------------------------
  	ダッシュボード
  ---------------------------------------- */
  /**/
  /* 最新の課題 */ }
  .dashboard .mytask .panel-heading {
    margin-bottom: 10px; }
  .dashboard .mytask .nav-tabs > li {
    margin-left: 5px;
    margin-right: 5px; }
  .dashboard .mytask table th:nth-of-type(1),
  .dashboard .mytask table th:nth-of-type(5) {
    width: 15%; }
  .dashboard .mytask table th:nth-of-type(2) {
    width: 55%; }
  .dashboard .recent-update__item {
    padding: 10px 0;
    border-top: 1px dotted #aaa; }
    .dashboard .recent-update__item:first-child {
      padding-top: 0;
      border-top: none; }
    .dashboard .recent-update__item img {
      max-width: 48px;
      height: auto; }

/*# sourceMappingURL=style.css.map */
