@charset "utf-8";

/* ----------------------------------------
	レイアウト
---------------------------------------- */
body {
	margin-top: 60px;
}

/* ----------------------------------------
	グローバルナビ
---------------------------------------- */
.global-nav {
	.dropdown-menu {
		padding: 5px;
		background-color: #333;
	}
	.dropdown-menu-list {
		padding: 5px;
		background-color: #333;
			> li {
				> a {
				display: block;
				width: 100%;
				padding: 5px;
				color: #fff;
				&:hover {
					background-color: $base-highlight-color;
					color: #3c3c3c;
				}
			}
		}
	}
}

/* ----------------------------------------
	グローバルヘッダー
---------------------------------------- */
.global-header {
	border-bottom-width: 5px;
	font-size: $smallFontSize;
	&__banner {
	}
	&__title {
		margin-left: 70px;
		font-size: 24px;
		font-weight: bold;
	}
	&__personal {
		margin-bottom: 10px;
		img {
			max-width: 32px;
			height: auto;
		}
	}
}

/* ----------------------------------------
	グローバルフッター
---------------------------------------- */
.global-footer {
	margin-top: 80px;
	.global-footer__pagetop {
		position: relative;
		display: inline-block;
		padding: 10px 30px;
		border: 1px solid $base-border-color;
		border-bottom: none;
		border-radius: 8px 8px 0 0;
		background: #fff;
		z-index: 1;
	}
	&__copyright {
		position: relative;
		top: -1px;
		padding: 10px;
		border-top: 1px solid $base-border-color;
	}
}
