@charset "utf-8";

/* ----------------------------------------
	リセット
---------------------------------------- */
h1,
h2,
h3,
h4,
h5,
h6,
p {
	margin: 0;
	padding: 0;
}

input,
textarea {
	border-width: 1px;
	border-style: solid;
	border-color: $base-border-color;
}


/* ----------------------------------------
	レイアウト
---------------------------------------- */
body {
	margin-top: 60px;
	font-size: $base-font-size;
}

/* ----------------------------------------
	グローバルナビ
---------------------------------------- */
.global-nav {
	.dropdown-menu {
		padding: 5px;
		background-color: #333;
	}
	.dropdown-menu-list {
		padding: 5px;
		background-color: #333;
			> li {
				> a {
				display: block;
				width: 100%;
				padding: 5px;
				color: #fff;
				&:hover {
					background-color: $base-highlight-color;
					color: #3c3c3c;
				}
			}
		}
	}
}

/* ----------------------------------------
	グローバルヘッダー
---------------------------------------- */
.global-header {
	margin-bottom: 0;
	border-bottom-width: 5px;
	font-size: $base-font-size;
	&__banner {
		display: inline-block;
	}
	&__title {
		display: inline-block;
		margin-left: 10px;
		font-size: 24px;
		font-weight: bold;
		vertical-align: middle;

	}
	&__personal {
		margin-bottom: 10px;
		img {
			max-width: 32px;
			height: auto;
		}
	}
}

/* ----------------------------------------
	追加ヘッダー
---------------------------------------- */
.attach-header {
	$padding: 5px;
	position: fixed;
	top: 51px; // TODO 動的に取得
	width: 100%;
	padding-top: $padding;
	padding-bottom: $padding;
	border-bottom: 1px solid $base-border-color;
	background-color: $base-bg-color;
	z-index: 999;
	.global-breadcrumb {
		ul {
			margin-bottom: 0;
		}
		li {
			position: relative;
		}
		img {
			width: 20px;
			height: auto;
			margin-right: 3px;
		}
	}
	.popup {
		position: absolute;
	    top: 25px;
	    left: 0;
	}
	.task-nav {
		ul {
			margin-bottom: 0;
		}
	}
}

/* ----------------------------------------
	プロジェクトナビ
---------------------------------------- */
.project-nav {
	.navbar-nav {
		&:first-child{
			> li {
				min-width: 100px;
				text-align: center;
				> a {
					&:hover {
						background-color: $base-highlight-color;
					}
				}
			}
		}
	}
}

/* ----------------------------------------
	メイン
---------------------------------------- */
/* メインラッパー */
main {
	margin-top: 20px;
	.main-header {
		margin-bottom: 1em;
		padding-bottom: .5em;
		border-bottom: 1px dashed $base-border-color;
		font-size: $heading-font-size;
	}
}

/* メインコンテンツ */
.primary {
}

/* サブコンテンツ */
.secondary {
}

/* ----------------------------------------
	グローバルフッター
---------------------------------------- */
.global-footer {
	margin-top: 80px;
	.global-footer__pagetop {
		position: relative;
		display: inline-block;
		padding: 10px 30px;
		border: 1px solid $base-border-color;
		border-bottom: none;
		border-radius: 8px 8px 0 0;
		background: #fff;
		z-index: 1;
	}
	&__copyright {
		position: relative;
		top: -1px;
		padding: 10px;
		border-top: 1px solid $base-border-color;
	}
}
