@charset "utf-8";

// -------------------------------
// フォーム
// -------------------------------
/**
 * フォームアイテムのラベルをたて揃えする
 * @param  {string} $width 幅
 */
@mixin vertical-form-item( $width: 100% ) {
	label {
		display: block;
	}
	input[type=text],
	textarea {
		width: $width;
	}
}

/**
 * 横長のボタンを作成
 * @param  {number} $width テキスト横のスペース幅
 */
@mixin btn-fixed-width( $width: 180px ) {
		width: $width;
}
