@charset "utf-8";

// -------------------------------
// カラー
// -------------------------------
$base-highlight-color: #eee;
$base-border-color: #aaa;

// -------------------------------
// フォント
// -------------------------------
// フォントサイズ
$headingFontSize: 20px;
$largeFontSize: 16px;
$baseFontSize:  12px;
$smallFontSize: 10px;

// フォントカラー
$lightFontColor: #888;

// -------------------------------
// リンク
// -------------------------------
//$baseLink : $baseFontColor; // リンクカラー
//$baseLinkV: $baseFontColor; // 同ヴィジテッド
//$baseLinkH: $baseFontColor; // 同ホバー
//$baseLinkA: $baseFontColor; // 同アクティブ

// -------------------------------
// テーマ用カラー
// -------------------------------
$theme-color: #eee;
