@charset "utf-8";

// -------------------------------
// カラー
// -------------------------------
$base-bg-color       : #f3f3f3;
$base-highlight-color: #ddd;
$base-border-color   : #aaa;

// -------------------------------
// フォント
// -------------------------------
// フォントサイズ
$heading-font-size: 20px;
$large-font-size  : 16px;
$base-font-size   : 12px;
$small-font-size  : 10px;

// フォントカラー
$light-font-color: #888;

// -------------------------------
// リンク
// -------------------------------
//$baseLink : $baseFontColor; // リンクカラー
//$baseLinkV: $baseFontColor; // 同ヴィジテッド
//$baseLinkH: $baseFontColor; // 同ホバー
//$baseLinkA: $baseFontColor; // 同アクティブ

// -------------------------------
// サムネイル
// -------------------------------
$thumb-sm: 24px;
$thumb-md: 32px;

// -------------------------------
// テーマ用カラー
// -------------------------------
$theme-color: #eee;
